<div>
  <mat-toolbar color="primary">
    <span>DatePicker PIPE Application</span>
  </mat-toolbar>
</div>
<div class="header">Angular Material</div>
<div class="container" [formGroup]="registrationForm">
  <h2>Choose a Date to get years of experience calculated</h2>
  <mat-form-field appearance="fill">
    <mat-label>Choose a date</mat-label>
    <input matInput [matDatepicker]="picker" [max]="maxDate" formControlName="date">
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <p class="err-text" *ngIf="date && date.touched && date.invalid">Selecting Graduation Date is Mandatory!</p> 
  <div>
  <button mat-raised-button class="btn" color="primary" [disabled]="registrationForm.invalid" (click)="onSave()">Calculate Experience</button>
</div>
<h1 *ngIf="displayFlag">{{data | dateConvert: currentDate}} Years Experience</h1>
</div>
